{% extends "layout.html" %}

{% block title %}
{{ member.displayed_name }}
{% endblock %}

{% block content %}
<!-- User profile edit -->
<div class="row">
    <div class="col-md-4">
        <!--image-->
        <img src="{{ member.prof_image.url }}/" id="user-img" class="img img-responsive img-thumbnail center-block" style="height: 220px; width: 220px">
    </div>
    <div class="col-md-8">
        <!--personal information-->
        <form role="form" class="form-horizontal" method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            {{ field.errors }}
            <div class="row" style="margin-bottom: 20px;">
                <div class="fieldWrapper">
                    <label class="col-md-4">{{ field.label }}</label>
                    <div class="col-md-8">{{ field }}</div>
                </div>
            </div>
            {% endfor %}
            <div class="form-group">
                <div class="col-md-4 col-md-offset-4">
                    <input type="submit" class="btn btn-primary" value="Save">
                    <input type="reset" class="btn btn-default" value="Cancel">
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End of user profile edit -->
{% endblock %}
