{% extends "layout.html" %}

{% block title %}
{{ movie.name }}
{% endblock %}

{% block content %}
<!-- Movie profile -->
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12 panel-body">
            <div class="row">
                <div class="col-md-4 text-center center-block">
                    <img src="{{ movie.poster_image.url }}/" class="img img-responsive center-block img-rounded" id="poster-img" style="width: 200px; height: 250px" />
                </div>

                <div class="col-md-8">
                    <div class="row">
                        <h2>{{ movie.name }} <small>{{ movie.year }}</small></h2>
                        <div class="glyphicon glyphicon-star"></div> Score {{ movie.avg_rate }} out of 10.0
                        <br/>
                        <div class="glyphicon glyphicon-user"></div> {{ movie.total_raters }} total
                    </div>

                    <div class="row">
                        <!-- rating -->
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                Rate this movie
                                <span class="caret"></span>
                            </button>
                            <ul id="rating" class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" type="button" data-toggle="modal" data-target="#myModal" value="1">★</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" type="button" data-toggle="modal" data-target="#myModal" value="2">★★</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" type="button" data-toggle="modal" data-target="#myModal" value="3">★★★</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" type="button" data-toggle="modal" data-target="#myModal" value="4">★★★★</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" type="button" data-toggle="modal" data-target="#myModal" value="5">★★★★★</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" type="button" data-toggle="modal" data-target="#myModal" value="6">★★★★★★</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" type="button" data-toggle="modal" data-target="#myModal" value="7">★★★★★★★</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" type="button" data-toggle="modal" data-target="#myModal" value="8">★★★★★★★★</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" type="button" data-toggle="modal" data-target="#myModal" value="9">★★★★★★★★★</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" type="button" data-toggle="modal" data-target="#myModal" value="10">★★★★★★★★★★</a></li>
                            </ul>
                            <input type="hidden" id="hidden-text" />
                        </div>
                    </div>

                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content -->
                            <div class="modal-content">
                                <!-- Modal header -->
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 id="num-of-stars"></h4>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <form role="form" action="/movies/{{ movie.id }}/rate_post/" method="POST">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        {% for field in form %}
                                                        {{ field }}
                                                        {{ field.errors }}
                                                        {% endfor %}
                                                    </div>

                                                    <div class="modal-footer">
                                                        <input type="submit" class="btn btn-success" value="Submit"/>
                                                        <input type="reset" class="btn btn-default" value="Reset" />
                                                        <input type="submit" class="btn btn-danger" value="Just save the score!" />
                                                        <input type="hidden" id="rate" name="rate" />
                                                    </div>
                                                </form>
                                            </div>

                                            <div class="col-md-4"><img src="" class="img img-responsive img-rounded" /></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="colorgraph" />
                    <h4><a href="{{ movie.link_to_imdb }}">{{ movie.name }} @ Imdb</a> </h4>
                </div>
            </div>
        </div>

        <div class="col-md-10 col-md-offset-1 text-center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Summary
                    </h3>
                </div>
                <div class="panel-body">
                    <p>{{ movie.summary }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <ul class="list-group">
                <li class="list-group-item"><span class="glyphicon glyphicon-chevron-right"></span> Genre: {{ movie.genre }}</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-chevron-right"></span> Initial release: {{ movie.initial_release }}</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-chevron-right"></span> Director: {{ movie.director }}</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-chevron-right"></span> Country: {{ movie.country }}</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-chevron-right"></span> Written by: {{ movie.author }}</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-chevron-right"></span> Music by: {{ movie.song_writer }}</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-chevron-right"></span> Cinematography: {{ movie.cinematography }}</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-chevron-right"></span> Running time: {{ movie.running_time }} minutes</li>
            </ul>
        </div>
        <div class="col-md-10 col-md-offset-1">
            {% for role in roles %}
            <div class="col-md-3 text-center center-block">
                <a class="thumbnail" href="">
                    {% if role.actor.actor_image %}
                    <img class="img-responsive img-thumbnail img-circle" src="{{ role.actor.actor_image.url }}/" />
                    {% else %}
                    <img class="img-responsive img-thumbnail img-circle" src="/media/media/unknown.png" />
                    {% endif %}
                    <h6>{{ role.actor.name }}</h6><small>({{ role.role_name }})</small>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End of movie profile -->
{% endblock %}

{%block scripts%}
{% endblock %}
